<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'mycss.css' %}"/>
        <script src="{% static 'myjs.js' %}"></script>


        <!--loading bootstrap from a CDN -->
          <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    </head>
    <body>
        <!--div class="jumbotron text-center" id="Heading">-->
        <div id="Heading">
            <h1 id="tile" onclick="change()">Club Site</h1>
        </div>
        <div id="title">
            Code for navigation here
        </div>
        <div id="content">
            {% block content %}
            Placeholder content
            {% endblock %}
        </div>
    </body>
</html>
